@import "main.scss";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: cursive;
  @include respond(phone) {
    font-family: auto;
  }
}

.logo {
  height: 4rem;
  width: 4rem;
}
.userActionContainer {
  display: flex;
  flex: 0 1 10%;
  justify-content: space-between;
  font-size: 1.6rem;
  text-transform: uppercase;
  @include respond(tab-port) {
    flex: 0 1 20%;
  }
  @include respond(phone) {
    flex: 0 1 30%;
    font-size: 1.4rem;
  }
}
.userLink {
  transition: all 0.2s;

  display: block;
  &:hover {
    color: #fff;

    transform: translateY(-5px);
  }
  &:focus {
    transform: translateY(5px);
  }
}
