// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "main.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  //applies to all elements
  box-sizing: inherit; // elements do not inherit from *
  //it will inherit from body
}
html {
  font-size: 62.5%; //for rem to be 10px

  @include respond(tab-land) {
    //< 1200px
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    //< 900px
    font-size: 50%;
  }
  // @include respond(phone) {//< 600px
  //   font-size: 40%;
  // }
  @include respond(desktop) {
    //> 1800px
    font-size: 75%;
  }
}
body {
  margin: 0;
  padding: 3rem;
  box-sizing: border-box;
  overflow-x: hidden;

  background: linear-gradient(
    to right bottom,
    #fbd3e9,
    #bb377d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
  // background: linear-gradient(to right bottom, #ff3366, #ba265d);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  
    @include respond(tab-port){
      padding: 1rem;
    }
}
::selection {
  background: $color-primary-light;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
