@import "main.scss";
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  @include respond(tab-port) {
    overflow: hidden;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle {
  font-family: cursive;
  color: $color-grey-light-3;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  // text-align: center;
  @include respond(phone) {
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0;
    padding-top: 1rem;
  }
}

.siteDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
}

.hideSiteDesc {
  display: none;
}
.siteDescriptionHeader {
  margin: 3rem 0;
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-family: cursive;
  @include respond(phone) {
    margin: 1.5rem 0;
    font-size: 2rem;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.1;
  }
}
.msgNoData{
  text-align: center;
}
.techList {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }
}
.techUse {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-2rem);
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  @include respond(phone) {
   display:none;
  }
}
.techListItem {
  flex: 0 1 10rem;
  &:not(:last-child) {
    padding-right: 1rem;
  }
  &:nth-child(5) {
    flex: 0 1 7rem;
  }
  @include respond(phone) {
    
    
      padding-right: 0;
      padding-bottom: 1rem;
  
    &:nth-child(5) {
     
    }
  }
}

.techImg {
  width: auto;
  height: 10rem;
}
.techImg:hover + .techUse {
  opacity: 1;
  transform: translateY(1rem);
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.topRestaurants {
  font-weight: 300;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 3rem;

  @include respond(phone) {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

.animatedBounceInLeft {
  animation: bounceInLeft 1s both,
    glow 1s ease-in-out 1.5s infinite alternate;
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
  animation-duration: 0.5s;
}
.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
  animation-duration: 0.5s;
}
.title {
  font-family: cursive;
  color: $color-grey-light-2;
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 300;
  letter-spacing: 1rem;

  @include respond(phone) {
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
